beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.3.1
idna==3.4
keyboard==0.13.5
lxml==4.9.3
Pillow==10.1.0
pygame==2.5.2
pywin32==306
requests==2.31.0
soupsieve==2.5
urllib3==2.0.7
xlwings==0.30.12
